*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/814/637/non_2x/3d-render-of-flash-neon-and-light-glowing-on-dark-scene-speed-light-moving-lines-free-photo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgb(183, 125, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(164, 8, 248) 0px 54px 55px, rgba(246, 8, 186, 0.12) 0px -12px 30px;
    border: 2px solid rgb(227, 22, 91);
}

input{
    padding: 5px;
    border: 2px solid rgb(227, 22, 91);
    border-radius: 10px;
}

.key{
    position: absolute;
    top: 2px;
    right: 10px;
    opacity: 0.6;
}
.key:hover{
    cursor: pointer;
    opacity: 1;
}

.error-div{
    display: none;
}

button{
    padding: 5px 15px;
    border-radius: 2px double rgb(243, 9, 122);
    border: none;
}

button:hover{
    padding: 5px 15px;
    border-radius: 2px double rgb(243, 9, 122);
    box-shadow: rgb(164, 8, 248) 0px 54px 55px, rgba(246, 8, 186, 0.12) 0px -12px 30px;
}