*{
    padding: 0;
    margin: 0;
    font-family: "Playpen Sans", cursive;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../image/fundo2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#pedido{
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: aqua;
    color: #ffff;
    font-size: 1.2rem;
}
